certifi==2020.6.20
cffi
click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-Cors
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkl-fft
mkl-random==1.1.0
mkl-service==2.3.0
numpy
pandas
pycparser
pymongo==3.11.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
torch
Werkzeug==1.0.1
wincertstore==0.2
