* {
  box-sizing: border-box;
}

html body {
  background-color: #191919;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.App h1 {
  margin-right: 0.2em;
}

.App-logo {
  margin-left: 0.5em;
  background-color: #282c34;
  color: #61dafb;
}

.App-logo:hover {
  color: #38d0fa;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  color: rgb(77, 67, 104);
  border-bottom: solid 3px #61dafb;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#sidebar {
  position: fixed;
  background-color: #282c34 !important;
  top: 5vh;
  height: 100%;
  width: 15em;
  text-align: left !important;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

.App-link:hover {
  color: white !important;
}

.App-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-color {
  color: #61dafb;
}

.dropdown-menu {
  background-color: #282c34 !important;
  color: black !important;
  border: 1px solid #61dafb !important;
  border-top: none !important;
  border-radius: 0 !important;
}

.dropdown-menu a {
  color: #61dafb !important;
}

.dropdown-menu a:hover {
  color: white !important;
  background-color: transparent;
}

.dropdown-menu a:active {
  color: white !important;
  background-color: transparent;
}

.dropdown-menu a:focus {
  color: white !important;
  background-color: transparent;
}

.btn:focus {
  box-shadow: none !important;
}

.list-group-item {
  background-color: #282c34 !important;
  color: #61dafb !important;
}

.list-group-item:focus {
  border-color: #282c34 !important;
}

.list-group-item:hover {
  background-color: #21252b !important;
  color: #61dafb !important;
}

.inline-icon {
  margin-right: 1em;
  cursor: pointer;
}

#games {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 6em;
  left: 15em;
  justify-content: center;
  margin-left: auto;
}

#game-card {
  margin: 1em;
  max-width: 242px;
  border: 1px solid #61dafb;
  height: 33em;
}

#game-card .title {
  padding: 0.5em;
}

#game-card-alt {
  margin: 1em;
  max-width: 500px;
  border: 1px solid #61dafb;
  height: 20em;
}

#game-card-alt .title {
  padding: 0.5em;
}

#account-dropdown {
  margin-right: 1em;
  margin-left: auto;
}

#signin-btn {
  margin-right: 1em;
  margin-left: auto;
  text-align: right;
  float: right;
}

.App-button {
  background-color: #61dafb !important;
  color: #282c34 !important;
  outline: none !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #61dafb; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-screen {
  position: relative;
  display: flex;
  top: 8em;
  justify-content: center;
  margin-left: auto;
  text-align: center;
  align-items: center;
}

#game-info .modal-content {
  margin-top: 7em;
  width: 300%;
  right: 100%;
  background-color: #191919;
  color: white;
  border: 1px solid #61dafb;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

#rate-game .modal-content {
  background-color: #191919;
  color: white;
  border: 1px solid #61dafb;
}

#rate-game .modal-content .close {
  color: white !important;
}
