.App {
  text-align: center;
}

.App a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.App h1 {
  margin-right: 0.2em;
}

.App-logo {
  margin-left: 0.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  color: rgb(77, 67, 104);
}

.App-link {
  color: #61dafb;
}

.App-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
